/**
 * Leetcode - ${package}
 */
package com.ciaoshen.leetcode.${package};
import java.util.*;
import com.ciaoshen.leetcode.myUtils.*;

class Test {
	
	private void test(Solution s) {

	}
	
	private void call(Solution s) {

	}

	public static void main(String[] args) {
		Test t = new Test();
		Solution s1 = new Solution1();
		t.test(s1);
	}

}
